<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_INSTALL_SESSIONS"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".HostActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:taskAffinity="com.echozone.app.host"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".AppsActivity"
            android:exported="false"
            android:hardwareAccelerated="true" />

        <activity
            android:name=".agent.AgentActivity"
            android:exported="false"
            android:process=":agent0"
            android:taskAffinity="com.echozone.app.agent0"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AgentActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <service
            android:name=".service.CloneService"
            android:exported="false"
            android:process=":service"
            android:foregroundServiceType="specialUse" />

        <activity
            android:name=".proxy.ProxyActivity"
            android:exported="true"
            android:process=":service"
            android:taskAffinity="com.echozone.app.proxy"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".proxy.ProxyActivityPortrait"
            android:exported="true"
            android:process=":service"
            android:taskAffinity="com.echozone.app.proxy.portrait"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".proxy.ProxyActivityLandscape"
            android:exported="true"
            android:process=":service"
            android:taskAffinity="com.echozone.app.proxy.landscape"
            android:screenOrientation="landscape"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".proxy.ProxyActivityEdge"
            android:exported="true"
            android:process=":service"
            android:taskAffinity="com.echozone.app.proxy.edge"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".proxy.ProxyActivityTransparent"
            android:exported="true"
            android:process=":service"
            android:taskAffinity="com.echozone.app.proxy.transparent"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".proxy.ProxyActivity$Agent0"
            android:exported="true"
            android:process=":agent0"
            android:taskAffinity="com.echozone.app.agent0"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".proxy.ProxyActivity$Agent1"
            android:exported="false"
            android:process=":agent1"
            android:taskAffinity="com.echozone.app.agent1"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <activity
            android:name=".proxy.ProxyActivity$Agent2"
            android:exported="false"
            android:process=":agent2"
            android:taskAffinity="com.echozone.app.agent2"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <activity
            android:name=".proxy.ProxyActivity$Agent3"
            android:exported="false"
            android:process=":agent3"
            android:taskAffinity="com.echozone.app.agent3"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <activity
            android:name=".proxy.ProxyActivity$Agent4"
            android:exported="false"
            android:process=":agent4"
            android:taskAffinity="com.echozone.app.agent4"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <activity
            android:name=".proxy.ProxyActivity$Agent5"
            android:exported="false"
            android:process=":agent5"
            android:taskAffinity="com.echozone.app.agent5"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <activity
            android:name=".proxy.ProxyActivity$Agent6"
            android:exported="false"
            android:process=":agent6"
            android:taskAffinity="com.echozone.app.agent6"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <activity
            android:name=".proxy.ProxyActivity$Agent7"
            android:exported="false"
            android:process=":agent7"
            android:taskAffinity="com.echozone.app.agent7"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <activity
            android:name=".proxy.ProxyActivity$Agent8"
            android:exported="false"
            android:process=":agent8"
            android:taskAffinity="com.echozone.app.agent8"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <activity
            android:name=".proxy.ProxyActivity$Agent9"
            android:exported="false"
            android:process=":agent9"
            android:taskAffinity="com.echozone.app.agent9"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <activity
            android:name=".proxy.ProxyActivity$Agent10"
            android:exported="false"
            android:process=":agent10"
            android:taskAffinity="com.echozone.app.agent10"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:exported="true"
            android:process=":service">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.CloneKeepAliveJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            android:process=":service" />

        <provider
            android:name=".provider.VirtualFileProvider"
            android:exported="false"
            android:process=":service"
            android:authorities="com.echozone.app.virtualfile"
            android:grantUriPermissions="true" />

        <provider
            android:name=".provider.VirtualClientProvider"
            android:exported="false"
            android:authorities="com.echozone.app.virtualclient"
            android:grantUriPermissions="true" />

        <!-- STUB PROVIDERS FOR CONTENT PROVIDER INTERCEPTION -->
        <provider android:name=".proxy.provider.StubProvider$P0" android:authorities="com.echozone.app.stub_provider.0" android:process=":agent0" android:exported="false" />
        <provider android:name=".proxy.provider.StubProvider$P1" android:authorities="com.echozone.app.stub_provider.1" android:process=":agent1" android:exported="false" />
        <provider android:name=".proxy.provider.StubProvider$P2" android:authorities="com.echozone.app.stub_provider.2" android:process=":agent2" android:exported="false" />
        <provider android:name=".proxy.provider.StubProvider$P3" android:authorities="com.echozone.app.stub_provider.3" android:process=":agent3" android:exported="false" />
        <provider android:name=".proxy.provider.StubProvider$P4" android:authorities="com.echozone.app.stub_provider.4" android:process=":agent4" android:exported="false" />
        <provider android:name=".proxy.provider.StubProvider$P5" android:authorities="com.echozone.app.stub_provider.5" android:process=":agent5" android:exported="false" />
        <provider android:name=".proxy.provider.StubProvider$P6" android:authorities="com.echozone.app.stub_provider.6" android:process=":agent6" android:exported="false" />
        <provider android:name=".proxy.provider.StubProvider$P7" android:authorities="com.echozone.app.stub_provider.7" android:process=":agent7" android:exported="false" />
        <provider android:name=".proxy.provider.StubProvider$P8" android:authorities="com.echozone.app.stub_provider.8" android:process=":agent8" android:exported="false" />
        <provider android:name=".proxy.provider.StubProvider$P9" android:authorities="com.echozone.app.stub_provider.9" android:process=":agent9" android:exported="false" />
        <provider android:name=".proxy.provider.StubProvider$P10" android:authorities="com.echozone.app.stub_provider.10" android:process=":agent10" android:exported="false" />

    </application>
</manifest>
